<mat-list>
  <mat-list-item *ngFor="let lancamento of lancamentos | orderBy: 'mes_lancamento';" >
    <p class="primary" >{{lancamento.valor | currency:"BRL":"symbol"}}
      <small>{{lancamento.mes_lancamento | monthFormat}}</small>
    </p>
  </mat-list-item>
</mat-list>
