<mat-list>
  <mat-list-item *ngFor="let lancamento of lancamentos" >
    <p class="primary" >{{lancamento.valor | currency:"BRL":"symbol"}}
      <small>{{lancamento.origem}}</small>
    </p>
  </mat-list-item>
</mat-list>
