<mat-list>
  <mat-list-item *ngFor="let lancamento of lancamentos" >
    <p class="primary">{{lancamento.valor | currency:"BRL":"symbol"}}
      <small>{{ changeCategory(lancamento.categoria )}}</small>
    </p>
  </mat-list-item>
</mat-list>
